<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Goopify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Goopify.Properties.Settings>
            <setting name="loadColDialogueRestore" serializeAs="String">
                <value>c:\\</value>
            </setting>
            <setting name="dumpYmpDialogRestore" serializeAs="String">
                <value>c:\\</value>
            </setting>
            <setting name="dumpSaveDialogRestore" serializeAs="String">
                <value>c:\\</value>
            </setting>
            <setting name="goopTextureDialogRestore" serializeAs="String">
                <value>c:\\</value>
            </setting>
            <setting name="resourceDialogueRestore" serializeAs="String">
                <value>c:\\</value>
            </setting>
            <setting name="superBmdPath" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="bmpImportPath" serializeAs="String">
                <value>c:\\</value>
            </setting>
            <setting name="goopAngleTolerance" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="colTypesToRemove" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>256</int>
                        <int>257</int>
                        <int>258</int>
                        <int>259</int>
                        <int>264</int>
                        <int>266</int>
                        <int>267</int>
                        <int>514</int>
                        <int>515</int>
                        <int>1536</int>
                        <int>2048</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="paintUndoSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="colorPairings" serializeAs="String">
                <value />
            </setting>
            <setting name="rarcPath" serializeAs="String">
                <value>D:\\Files\\Sunshine Hacking\\wiiszs\\rarc.py</value>
            </setting>
            <setting name="snapToRegionEdge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snapToRegionCorner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snapToGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="snapInterval" serializeAs="String">
                <value>64</value>
            </setting>
        </Goopify.Properties.Settings>
    </userSettings>
</configuration>